button {
    margin-top: 50vh
}
div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#botao {
    align-self: center;
    width: 200px;
    
}

#resultado {
    align-self: center;
    text-align: center;
}

p {
    font-weight: bold;
    margin-bottom: 0;
    
}